@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);
}


.animate,
.will-animate {
  will-change: transform, opacity;
} */